.row, .column{
  border: 2px solid black;
}

body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-lateral{
  padding: 0px;
}

.logo{
  width: 130px;
}

.contenedor{
  background-color: grey;
  opacity: 0.96;
  color:black;
}


.borde-derecho{
  border-right: 2px solid white;
}
.borde-inferior{
  border-bottom: 2px solid white;
}
.principal{
  padding: 30px;
}
.fondo-solido{
  background-color: #fff9c4;
}
